# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/_practice_team_project_toreact/sample/btn_scroll.html
src/_practice_team_project_toreact/sample/cs-faq.html
src/_practice_team_project_toreact/sample/cs-notice.html
src/_practice_team_project_toreact/sample/cs-qna.html
src/_practice_team_project_toreact/sample/login.html
src/_practice_team_project_toreact/sample/main_footer.html
src/_practice_team_project_toreact/sample/main_header.html
src/_practice_team_project_toreact/sample/main-MR.css
src/_practice_team_project_toreact/sample/mainpage.html
src/_practice_team_project_toreact/sample/order-basket.html
src/_practice_team_project_toreact/sample/product-all-page1.html
src/_practice_team_project_toreact/sample/product-all-page2.html
src/_practice_team_project_toreact/sample/product-bath.html
src/_practice_team_project_toreact/sample/product-brand.html
src/_practice_team_project_toreact/sample/product-living.html
src/_practice_team_project_toreact/sample/product-utensils.html
src/_practice_team_project_toreact/sample/sample-footer-MR.html
src/_practice_team_project_toreact/sample/sample-header-MR.html
src/_practice_team_project_toreact/sample/css/cs_faq.css
src/_practice_team_project_toreact/sample/css/cs_notice_YJ.css
src/_practice_team_project_toreact/sample/css/cs_qna_YJ.css
src/_practice_team_project_toreact/sample/css/cs_reset.css
src/_practice_team_project_toreact/sample/css/login_page.css
src/_practice_team_project_toreact/sample/css/main_footer_JH.css
src/_practice_team_project_toreact/sample/css/main_header_JH.css
src/_practice_team_project_toreact/sample/css/mainpage_JH.css
src/_practice_team_project_toreact/sample/css/reset_plus.css
src/_practice_team_project_toreact/sample/css/reset.css
src/_practice_team_project_toreact/sample/images/2c8f696ba5f27ed5c5950f5660c53a79.jpg
src/_practice_team_project_toreact/sample/images/3eb6fb019559a40a71b43ffeed6713e4.jpg
src/_practice_team_project_toreact/sample/images/6d0a79c5d90827e990ce9a085295ae07.jpg
src/_practice_team_project_toreact/sample/images/434ebed84a3058d3fce6f7c5561c1c95.png
src/_practice_team_project_toreact/sample/images/520cd41fb28bd96578f9c28ca125b0ce.jpg
src/_practice_team_project_toreact/sample/images/b49a0e81b1c4fdbd64f7c5fd6d2a91ab.png
src/_practice_team_project_toreact/sample/images/btn_close.png
src/_practice_team_project_toreact/sample/images/btn_list_cart.gif
src/_practice_team_project_toreact/sample/images/btn_page_next.gif
src/_practice_team_project_toreact/sample/images/btn_page_prev.gif
src/_practice_team_project_toreact/sample/images/btn_wish_before.png
src/_practice_team_project_toreact/sample/images/cncjstkdvna.PNG
src/_practice_team_project_toreact/sample/images/cs-sample-image1.jpg
src/_practice_team_project_toreact/sample/images/cs-sample-image2.jpg
src/_practice_team_project_toreact/sample/images/cs-sample-image3.jpg
src/_practice_team_project_toreact/sample/images/ec83950ba38f370946dfd0ab675f384c.jpg
src/_practice_team_project_toreact/sample/images/ic_buy_btn.png
src/_practice_team_project_toreact/sample/images/ic_cart_off.png
src/_practice_team_project_toreact/sample/images/ic_header_search2.png
src/_practice_team_project_toreact/sample/images/ic_star4.png
src/_practice_team_project_toreact/sample/images/ic_star5.png
src/_practice_team_project_toreact/sample/images/ico_hit.gif
src/_practice_team_project_toreact/sample/images/ico_lock.gif
src/_practice_team_project_toreact/sample/images/ico_member_apple.png
src/_practice_team_project_toreact/sample/images/ico_member_facebook.png
src/_practice_team_project_toreact/sample/images/ico_member_google.png
src/_practice_team_project_toreact/sample/images/ico_member_kakao.png
src/_practice_team_project_toreact/sample/images/ico_member_line.png
src/_practice_team_project_toreact/sample/images/ico_member_naver.png
src/_practice_team_project_toreact/sample/images/ico_re.gif
src/_practice_team_project_toreact/sample/images/img_loading.gif
src/_practice_team_project_toreact/sample/images/img_no_img01.jpg
src/_practice_team_project_toreact/sample/images/log_lock.png
src/_practice_team_project_toreact/sample/images/logo.png
src/_practice_team_project_toreact/sample/images/logo123.png
src/_practice_team_project_toreact/sample/images/m_ic_top_bn.png
src/_practice_team_project_toreact/sample/images/main_slide_01.jpg
src/_practice_team_project_toreact/sample/images/main_slide_02.jpg
src/_practice_team_project_toreact/sample/images/main_slide_03.jpg
src/_practice_team_project_toreact/sample/images/new1.PNG
src/_practice_team_project_toreact/sample/images/new2.PNG
src/_practice_team_project_toreact/sample/images/new3.PNG
src/_practice_team_project_toreact/sample/images/product_pick_01.jpg
src/_practice_team_project_toreact/sample/images/recimg1.PNG
src/_practice_team_project_toreact/sample/images/recimg2.PNG
src/_practice_team_project_toreact/sample/images/rev1.jpg
src/_practice_team_project_toreact/sample/images/rev2.jpg
src/_practice_team_project_toreact/sample/images/rev3.png
src/_practice_team_project_toreact/sample/images/title_logo.png
src/_practice_team_project_toreact/sample/images/tkfka1.PNG
src/_practice_team_project_toreact/sample/images/tkfka2.PNG
src/_practice_team_project_toreact/sample/images/tkfka3.PNG
src/_practice_team_project_toreact/sample/images/txt_progress.gif
src/_practice_team_project_toreact/sample/images/Untitled-2.gif
src/_practice_team_project_toreact/sample/images/svg/btn_more.svg
src/_practice_team_project_toreact/sample/images/svg/btn_quick_bottom.svg
src/_practice_team_project_toreact/sample/images/svg/btn_quick_kakao.svg
src/_practice_team_project_toreact/sample/images/svg/btn_quick_top.svg
src/_practice_team_project_toreact/sample/images/svg/btn_search_close.svg
src/_practice_team_project_toreact/sample/images/svg/ic_bag.svg
src/_practice_team_project_toreact/sample/images/svg/ic_hd_search.svg
src/_practice_team_project_toreact/sample/images/svg/ic_sns_facebook.svg
src/_practice_team_project_toreact/sample/images/svg/ic_sns_insta.svg
src/_practice_team_project_toreact/sample/images/svg/ic_sns_kakao.svg
src/_practice_team_project_toreact/sample/js/btn_scroll.js
src/_practice_team_project_toreact/sample/js/header_window.js
src/_practice_team_project_toreact/sample/js/jquery.js
src/_practice_team_project_toreact/sample/js/jquery.min.js
src/_practice_team_project_toreact/sample/js/main_header_JH.js
src/_practice_team_project_toreact/sample/js/main.js.YJ
src/_practice_team_project_toreact/sample/js/mainpage_JH.js
src/_practice_team_project_toreact/sample/js/page/login_page.js
src/_practice_team_project_toreact/sample/js/page/page.js
src/_practice_team_project_toreact/sample/json/login_page_data.js
